{% extends 'InfuseDictionaryBundle::layout.html.twig' %}
{% block title %}Startup Dict. - About us{% endblock %}
{% block body -%}
<h1>About</h1>
<p class="lead">
    This project is based on a <a href="https://news.ycombinator.com/item?id=5732882">HN discussion</a> inspired by UrbanDictionary and built with Symfony and love by <a href="https://twitter.com/yvmarques">@yvmarques</a>.
</p>
{% endblock %}
