{% extends 'InfuseDictionaryBundle::layout.html.twig' %}
{% block title %}Startup Dict. - Let's make startup jargon/lingo understandable for everyone{% endblock %}
{% block body -%}
{% if entities|length > 0 %}
<h1>Word list{% if letter %} - {{ letter|upper }}{% endif %}</h1>
<ul>
    {% for entity in entities %}
    <li><a href="{{ path('word_show', {slug: entity.slug}) }}"{% if entity.status == 0 %} class="muted"{% endif %}>{{ entity.word }}</a></li>
    {% endfor %}
</ul>
{% else %}
<div class="well">
    <p>There is no definition yet, would you be the first to add one ?</p>
    <a href="{{ path('word_new') }}" class="btn">Add a definition</a>
</div>
{% endif %}
{% endblock %}
